//Bu Sass Dosyası Emrah KAHRAMAN tarafından kodlanmıştır.

//Variable
@use "./variables/reset" as *;
@use "./variables/variable" as *;

* {
  box-sizing: border-box;
}

body {
  background-color: $base_color;
  width: 100%;
  overflow-x: hidden;
  font-size: $regular_size;
  font-family: $family;
  color: $primary_color;
  min-height: 100vh;
}

//Header#
#header {
  width: 100%;
  background-color: $base_color;
  border-bottom: 1px solid #f3f3f2;

  //header
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90px;
    position: relative;

    //&_logo
    &_logo {
      position: relative;
      z-index: 3;
      img {
        cursor: pointer;
      }
    }

    //&_menu
    &_menu {
      > li {
        display: inline-block;
        position: relative;
        margin-right: 30px;
        &:last-child {
          margin-right: 0;
        }
        > a {
          font-family: $family;
          color: $primary_color;
          font-weight: 400;
          font-size: $regular_size;
          text-transform: capitalize;
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: 7px 0;
            transition: 0.4ms all ease-in-out;
            content: "";
            background-color: $primary_color;
            height: 2px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
          &:hover {
            &::before {
              width: 100%;
            }
          }
        }
        .active {
          position: relative;
          &::before {
            position: absolute;
            width: 0;
            margin: 7px 0;
            transition: 0.4ms all ease-in-out;
            content: "";
            background-color: $two_color;
            height: 2px;
            border-radius: 2px;
            left: 0;
            bottom: 0;
          }
        }
        .active,
        a.active {
          &::before {
            width: 100%;
          }
        }
      }
      button {
        background-color: transparent;
        border: 1px solid $four_color;
        border-radius: 5px;
        padding: 10px 20px;
        a {
          font-weight: 500;
          font-size: $regular_size;
          color: $primary_color;
        }
      }
    }

    //&_hamburger
    &_hamburger {
      display: none;
      position: absolute;
      top: 29px;
      right: 15px;
      transition: 0.5s all ease-in-out;
      cursor: pointer;
      z-index: 999;
      .icon {
        font-size: 30px;
        color: $two_color;
      }
    }

    //Notebook
    @include notebook {
      //&_menu
      &_menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: $base_color;
        z-index: 2;
        text-align: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        transform: scale(0);
        opacity: 0;
        transition: opacity 650ms;
        li {
          display: block;
          margin-right: 0;
          padding-bottom: 30px;
          &:last-child {
            padding-bottom: 0;
          }
          a {
            font-family: $family;
            color: $primary_color;
            font-weight: 400;
            font-size: $regular_size;
            text-transform: uppercase;
            &::before {
              background-color: $two_color;
            }
          }
        }
      }
      &_menu.open {
        opacity: 1;
        transform: scale(1);
      }

      //&_hamburger
      &_hamburger {
        display: block;
        .times {
          display: none;
        }
      }
      &_hamburger.open {
        .bars {
          display: none;
        }
        .times {
          display: block;
        }
      }
    }
  }
}
#header.scroll {
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.35);
  position: fixed;
  transition: 0.3s all ease-in-out;
  top: 0;
  z-index: 2;
  background-color: $three_color;

  //header
  .header {
    height: 70px;

    //&_hamburger
    &_hamburger {
      top: 20px;
    }
  }
}

//Hero#
#hero {
  width: 100%;
  padding: 100px 0;

  //hero
  .hero {
    max-width: 1000px;
    //&_content
    &_content {
      h6 {
        padding-top: 40px;
        font-size: 55px;
        color: $primary_color;
        font-weight: 400;
        line-height: 110%;
      }
      //social
      .social {
        padding-top: 40px;
        li {
          display: inline-block;
          margin-right: 13px;
          &:last-child {
            margin-right: 0;
          }
          a {
            i {
              width: 42px;
              height: 42px;
              line-height: 42px;
              border: 1px solid $four_color;
              color: $five_color;
              border-radius: 50%;
              text-align: center;
              font-size: $regular_size;
            }
          }
        }
      }
    }

    //&_gallery
    &_gallery {
      padding-top: 60px;
      .slick-slide {
        padding: 0 10px !important;
      }
      //&_item
      &_item {
        img {
          width: 100%;
        }
      }
    }

    //Large
    @include large {
      max-width: 100%;
      //&_content
      &_content {
        h6 {
          font-size: 45px;
        }
      }
    }
    //Notebook
    @include notebook {
      text-align: center;
      //&_content
      &_content {
        h6 {
          padding-top: 35px;
          font-size: 40px;
          line-height: normal;
        }
      }
    }
    //Tablet
    @include tablet {
      //&_content
      &_content {
        h6 {
          padding-top: 30px;
          font-size: 30px;
        }
      }
    }
    //X_Tablet
    @include x_tablet {
      //&_content
      &_content {
        h6 {
          font-size: 25px;
        }
      }
    }
    //Mobil
    @include mobil {
      //&_content
      &_content {
        h6 {
          padding-top: 25px;
          font-size: $xlarge_size;
        }
        //social
        .social {
          li {
            margin-right: 10px;
            a {
              i {
                width: 35px;
                height: 35px;
                line-height: 35px;
                font-size: $small_size;
              }
            }
          }
        }
      }
    }
  }
}

//Home_Projects#
#home_projects {
  width: 100%;
  padding: 100px 0;
  background-color: $three_color;

  //home_projects
  .home_projects {
    //&_heading
    &_heading {
      max-width: 550px;
      h6 {
        font-size: 50px;
        text-transform: capitalize;
        font-weight: 500;
        line-height: normal;
        color: $seven_color;
      }
      p {
        padding-top: 20px;
        font-size: $xlarge_size;
        font-weight: 400;
        color: $eight_color;
        line-height: 160%;
      }

      //Large
      @include large {
        h6 {
          font-size: 40px;
        }
      }
      //Notebook
      @include notebook {
        max-width: 100%;
        text-align: center;
        h6 {
          font-size: 40px;
        }
        p {
          padding-top: 15px;
          font-size: $large_size;
          line-height: 150%;
        }
      }
      //Tablet
      @include tablet {
        h6 {
          font-size: 35px;
        }
        p {
          font-size: $regular_size;
        }
      }
      //X_Tablet
      @include x_tablet {
        h6 {
          font-size: 25px;
        }
      }
      //Mobil
      @include mobil {
        h6 {
          font-size: 20px;
        }
        p {
          padding-top: 12px;
          font-size: $small_size;
        }
      }
    }

    //&_items
    &_items {
      padding-top: 50px;
      //&_box
      &_box {
        margin-bottom: 30px;
        &:last-child {
          margin-bottom: 0;
        }
        img {
          width: 100%;
        }
        h6 {
          padding-top: 20px;
          a {
            font-size: 30px;
            font-weight: 500;
            letter-spacing: 0.3px;
            line-height: normal;
            color: $primary_color;
          }
        }
        p {
          padding-top: 10px;
          color: $two_color;
          font-size: $xlarge_size;
          line-height: 160%;
          font-weight: 400;
        }

        //Large
        @include large {
          h6 {
            a {
              font-size: 25px;
            }
          }
          p {
            font-size: $large_size;
            line-height: 150%;
          }
        }
        //Notebook
        @include notebook {
          h6 {
            padding-top: 15px;
            a {
              font-size: 20px;
            }
          }
          p {
            font-size: $large_size;
            line-height: 150%;
          }
        }
        //Tablet
        @include tablet {
          h6 {
            a {
              font-size: $xlarge_size;
            }
          }
          p {
            font-size: $regular_size;
            line-height: 150%;
          }
        }
        //X_Tablet
        @include x_tablet {
          text-align: center;
          h6 {
            a {
              font-size: $xlarge_size;
            }
          }
          p {
            font-size: $regular_size;
            line-height: normal;
          }
        }
        //Mobil
        @include mobil {
          h6 {
            padding-top: 12px;
            a {
              font-size: $large_size;
            }
          }
          p {
            font-size: $small_size;
          }
        }
      }
    }
  }
}

//Graduation#
#graduation {
  width: 100%;

  //graduation
  .graduation {
    display: flex;
    flex-wrap: wrap;
    //&_left
    &_left {
      width: 50%;
      background-color: $primary_color;
      display: flex;
      justify-content: center;
      align-items: center;
      .content {
        max-width: 400px;
        color: $base_color;
        h6 {
          font-size: 50px;
          font-weight: 500;
          line-height: normal;
        }
        p {
          padding-top: 20px;
          font-size: $xlarge_size;
          font-weight: 400;
          line-height: 160%;
        }
      }
    }

    //&_right
    &_right {
      width: 50%;
      img {
        width: 100%;
      }
    }

    //Large
    @include large {
      //&_left
      &_left {
        .content {
          h6 {
            font-size: 40px;
          }
        }
      }
    }
    //Notebook
    @include notebook {
      //&_left
      &_left {
        width: 100%;
        .content {
          max-width: 100%;
          padding: 100px 50px;
          text-align: center;
          h6 {
            font-size: 35px;
          }
          p {
            padding-top: 15px;
            font-size: $large_size;
            line-height: normal;
          }
        }
      }
      //&_right
      &_right {
        width: 100%;
      }
    }
    //Tablet
    @include tablet {
      //&_left
      &_left {
        .content {
          h6 {
            font-size: 30px;
          }
          p {
            font-size: $regular_size;
            line-height: 21px;
          }
        }
      }
    }
    //X_Tablet
    @include x_tablet {
      //&_left
      &_left {
        .content {
          padding: 60px 30px;
          h6 {
            font-size: 25px;
          }
        }
      }
    }
    //Mobil
    @include mobil {
      //&_left
      &_left {
        .content {
          padding: 50px 20px;
          h6 {
            font-size: 20px;
          }
          p {
            font-size: $small_size;
            line-height: normal;
          }
        }
      }
    }
  }
}

//Feedback#
#feedback {
  width: 100%;
  background-color: $three_color;
  padding: 100px 0;

  //feedback
  .feedback {
    //&_heading
    &_heading {
      max-width: 515px;
      h6 {
        font-size: 50px;
        font-weight: 500;
        text-transform: capitalize;
        color: $seven_color;
        line-height: normal;
      }
      p {
        padding-top: 20px;
        font-size: $xlarge_size;
        line-height: 160%;
        color: $eight_color;
      }

      //Large
      @include large {
        h6 {
          font-size: 40px;
        }
        p {
          font-size: $large_size;
          line-height: normal;
        }
      }
      //Notebook
      @include notebook {
        max-width: 100%;
        text-align: center;
        h6 {
          font-size: 30px;
        }
        p {
          padding-top: 15px;
          font-size: $regular_size;
        }
      }
      //Tablet
      @include tablet {
        h6 {
          font-size: 25px;
        }
      }
      //X_Tablet
      @include x_tablet {
        h6 {
          font-size: 20px;
        }
        p {
          font-size: $small_size;
        }
      }
    }

    //&_gallery
    &_gallery {
      padding-top: 50px;
      .slick-slide {
        padding: 0 10px;
      }
      //&_item
      &_item {
        padding: 40px;
        background-color: $base_color;
        border-radius: 13px;
        h5 {
          padding-top: 20px;
          color: $primary_color;
          font-size: 30px;
          font-weight: 500;
          text-transform: capitalize;
          line-height: normal;
        }
        h6 {
          padding-top: 5px;
          font-size: $regular_size;
          font-weight: 500;
          line-height: normal;
          text-transform: capitalize;
        }
        p {
          padding-top: 15px;
          color: $two_color;
          font-size: $xlarge_size;
          font-weight: 400;
          line-height: 160%;
        }
      }
      //Large
      @include large {
        //&_item
        &_item {
          h5 {
            font-size: 25px;
          }
          p {
            font-size: $large_size;
          }
        }
      }
      //Notebook
      @include notebook {
        text-align: center;
        //&_item
        &_item {
          padding: 30px;
          img {
            margin: 0 auto;
          }
          h5 {
            font-size: 20px;
          }
          p {
            font-size: $regular_size;
            line-height: 150%;
          }
        }
      }
      //X_Tablet
      @include x_tablet {
        //&_item
        &_item {
          h5 {
            font-size: $xlarge_size;
          }
        }
      }
      //Mobil
      @include mobil {
        //&_item
        &_item {
          h5 {
            font-size: $large_size;
          }
          h6 {
            font-size: $small_size;
          }
          p {
            font-size: $small_size;
          }
        }
      }
    }
  }
}

//İnfo#
#info {
  width: 100%;
  background-color: $two_color;
  padding: 100px 0;

  //info
  .info {
    h6 {
      font-size: 50px;
      text-transform: capitalize;
      line-height: normal;
      font-weight: 500;
      color: $base_color;
    }
    p {
      padding-top: 6px;
      font-size: $xlarge_size;
      font-weight: 400;
      color: $base_color;
      line-height: normal;
    }
    button {
      margin-top: 20px;
      background-color: $primary_color;
      border-radius: 5px;
      padding: 10px 20px;
      a {
        color: $base_color;
        font-size: $regular_size;
        font-weight: 500;
        line-height: normal;
      }
    }

    //Notebook
    @include notebook {
      text-align: center;
      h6 {
        font-size: 40px;
      }
      p {
        padding-top: 10px;
        font-size: $large_size;
      }
      button {
        margin-top: 30px;
      }
    }
    //Tablet
    @include tablet {
      h6 {
        font-size: 30px;
      }
      p {
        font-size: $regular_size;
      }
    }
    //X-Tablet
    @include x_tablet {
      h6 {
        font-size: 25px;
      }
      p {
        font-size: $small_size;
      }
      button {
        margin-top: 25px;
        a {
          font-size: $small_size;
        }
      }
    }
    //Mobil
    @include mobil {
      h6 {
        font-size: 20px;
      }
    }
  }
}

//Footer#
#footer {
  width: 100%;
  padding: 50px 0 80px 0;
  background-color: $primary_color;

  //footer
  .footer {
    //&_header
    &_header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid $two_color;
      padding-bottom: 40px;
      //&_left
      &_left {
        display: flex;
        align-items: center;
        //footer_menu
        .footer_menu {
          padding-left: 70px;
          li {
            display: inline-block;
            margin-right: 30px;
            &:last-child {
              margin-right: 0;
            }
            a {
              color: $six_color;
              font-size: $regular_size;
              font-weight: 500;
              text-transform: capitalize;
            }
          }
        }
      }
      //&_right
      &_right {
        li {
          display: inline-block;
          margin-right: 20px;
          &:last-child {
            margin-right: 0;
          }
          a {
            i {
              width: 42px;
              height: 42px;
              line-height: 42px;
              border-radius: 50%;
              border: 1px solid $two_color;
              text-align: center;
              color: $base_color;
              font-size: $regular_size;
              transition: 0.3s all ease-in-out;
              &:hover {
                background-color: $eight_color;
                border: 1px solid $eight_color;
              }
            }
          }
        }
      }
    }

    //&_copyright
    &_copyright {
      padding-top: 40px;
      text-align: center;
      font-size: $regular_size;
      font-weight: 400;
      line-height: normal;
      color: $six_color;
    }

    //Tablet
    @include tablet {
      //&_header
      &_header {
        flex-direction: column;
        text-align: center;
        //&_left
        &_left {
          //footer_menu
          .footer_menu {
            display: none;
          }
        }
        //&_right
        &_right {
          padding-top: 20px;
          li {
            margin-right: 15px;
            a {
              i {
                width: 35px;
                height: 35px;
                line-height: 35px;
                font-size: $regular_size;
              }
            }
          }
        }
      }
    }
  }
}

///// ABOUT \\\\\

//About_Who#
#about_who {
  width: 100%;
  padding: 100px 0;

  h6 {
  }

  //about_who
  .about_who {
    padding-top: 90px;

    //&_image
    &_image {
      img {
        width: 100%;
      }
    }
    //&_text
    &_text {
      h5 {
      }
      p {
      }
    }
  }
}

//About_Looking#
#about_looking {
  width: 100%;
  background-color: $three_color;
}
